@page
@{
    ViewData["Title"] = "Strona glowna";
}

<h1 class="text-center mb-5 text-primary">Wybierz zadanie</h1>

<div class="row justify-content-center">
    <div class="col-md-5 mb-3">
        <div class="card shadow border-warning">
            <div class="card-body text-center">
                <h3 class="text-warning">Ksiazka</h3>
                <p>Formularz GET i POST</p>
                <a href="/Ksiazka" class="btn btn-warning">Przejdz</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-5 mb-3">
        <div class="card shadow border-info">
            <div class="card-body text-center">
                <h3 class="text-info">NWD</h3>
                <p>Obliczanie NWD</p>
                <a href="/Nwd" class="btn btn-info">Przejdz</a>
            </div>
        </div>
    </div>
</div>